<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>   
    <main class="auth_main">
        <form action="/login" method="POST" class="auth_form" id="login_form">
            <div class="auth_title">
                <h1 class="auth_title">login</h1>
                <p>or <a href="/register">register</a></p>
            </div>
            <div class="auth_flash">
                <% if(message) { %>
                        <%- message %>
                <% } %>
            </div>
            <label for="email">Email</label>
            <input type="text" name="email" class="form_field" required>
            <label for="password">Password</label>
            <input type="password" name="password" class="form_field" required>
            <button type="submit" class="submit_button">Login</button>
        </form>
    </main>
    <script type="module" src="./JS/auth/login_validation.js"></script> 
</body>
</html>