<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <main class="auth_main">
        <form action="/register" method="POST" class="auth_form" id="register_form">
            <div class="auth_title">
                <h1 class="auth_title">Register</h1>
                <p>or <a href="/login">login</a></p>
            </div>
            <div class="auth_flash">
                <% if(message) { %>
                        <%- message %>
                <% } %>
            </div>
            <label for="name">Name</label>
            <input type="text" name="name" class="form_field" required>
            <label for="email">Email</label>
            <input type="text" name="email" class="form_field" required>
            <label for="password">Password</label>
            <input type="password" name="password" class="form_field" id="register_password" required>
            <label for="repeat_password">Repeat Password</label>
            <input type="password" name="repeat_password" class="form_field" id="repeat_password" required>
            <button type="submit" class="submit_button">Register</button>
        </form>
    </main>
    <script type="module" src="./JS/auth/register_validation.js"></script>
</body>
</html>