<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <main class="auth_main">
        <form action="/register" method="POST" class="auth_form">
            <h1 class="auth_title">Register</h1>
            
            <label for="name">Name</label>
            <input type="text" name="name" class="auth_field" required>
            <label for="email">Email</label>
            <input type="text" name="email" class="auth_field" required>
            <label for="password">Password</label>
            <input type="password" name="password" class="auth_field" required>
            <button type="submit" class="auth_button">Register</button>
        </form>
    </main>
</body>
</html>