<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<body>
    <main>
        <form action="">
            <h1>Register</h1>
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="password">Password</label>
            <input type="text" name="password">
            <label for="password">Repeat password</label>
            <input type="text" name="password">
            <button type="submit">Register</button>
        </form>
    </main>
</body>
</html>