<!-- <nav>
    <ul>
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/contact">Contact</a></li>
        <li><a href="/#/extra">Extra</a></li>
    </ul>
</nav> -->

<aside class="menu aside-menu">
    <h1 class="side-nav-title"><i class="fa fa-bug" aria-hidden="true"></i>B-TRACK</h1>
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li><a href="/#/" class="is-active">Home</a></li>
    </ul>
    <p class="menu-label">Admin</p>
    <ul class="menu-list">
        <li><a href="#">Manage Users</a></li>
        <li><a href="#">Manage Projects</a></li>
    </ul>
    <p class="menu-label">Projects</p>
    <ul class="menu-list">
        <li>
        <a href="/#/project/new">New Project</a>
            <ul>
                <li><a href="/#/project/:id">hoi</a></li>
            </ul>
        </li>
    </ul>
</aside>