body {
    display: flex;
    flex-direction: row;
}

aside {
    padding: 5px;
}

main {
    flex-grow: 1;
    max-width: 960px;
    margin-left: 5%;
    padding-top: 10px;
}

.task_container {
    display: flex;
    flex-direction: row;
}

.task_list {
    background-color: lightgray;
    margin: 5px;
    min-width: 150px;
}

.task_box {
    display: flex;
    background-color: white;
    transition: 0.1s ease;
    border-radius: 4px;
    margin: 4px;
}

/* .task_box:hover {
    cursor: pointer;
    transition: 0.1s ease;
    background-color: lightgray;
} */

.dragging_task {
    opacity: 0.5;
}

.hide_element {
    display: none;
}