@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html, body{
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#main_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    box-sizing: content-box;
    box-sizing: border-box;
    padding: 5px;
}

nav {
    padding: 0;
    margin: 0;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
}

h1 {
    margin: 0;
}

/* SIDEBAR */
.menu_title {
    font-size: 1.5em;
}

.menu_mark {
    margin: 0;
    font-size: 0.9em;
    color: darkgray;
    font-weight: 200;
    padding-top: 5px;
}

.menu_link {
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 5px 0 5px 5px;
    margin: 0;
    transition: 0.1s ease;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu_link:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: 0.1s ease;
}

#project_list {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0;
}

.project_link {
    padding: 3px 0 3px 0;
    margin: 0;
    transition: 0.1s ease;
}

.project_link:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: 0.1s ease;
}

.project_link a {
    color: black;
    text-decoration: none;
    padding-left: 5px;
}

#logout_button {
    color: darkgray;
    background-color: transparent;
    width: 100%;
    text-align: left;
    border: 0px;
    font-size: 1em;
    outline: none;
    margin-top: 5px;
}

#logout_button:hover {
    cursor: pointer;
    color: black;
}

/* END SIDEBAR */

/* HOMEPAGE */

.home_page h1 {
    padding: 10px;
}

.project_cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.project_card {
    background-color: lightskyblue;

    flex: 1 0 45%;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
}

.card_background {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* END HOMEPAGE */

.project_header {
    display: flex;
    flex-direction: row;
    background-color: green;
    max-width: 960px;
}

.project_info {
    flex-grow: 1;
    /* background-color: lightcoral; */
}

.project_options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.task_container {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 100%;
    overflow-y: scroll;
}

.to_do_list {
    flex-grow: 1;
}


.task_list_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.task_list {
    background-color: lightgray;
    min-width: 150px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    flex-grow: 1;
    max-height: 100%;
    overflow-y: scroll;
}

.task_list_title {
    margin: 0;
    padding: 0;
}

.task_box {
    display: flex;
    background-color: white;
    transition: 0.1s ease;
    border-radius: 4px;
}

.task_box:hover {
    cursor: pointer;
}

#project_form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

#create_project_title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* .delete_project_btn {
    background-color: transparent;
    border: 0;
    color: transparent;
}

.delete_project_btn:hover {
    color: black;
} */

.dragging_task {
    opacity: 0.5;
}

.hide_element {
    display: none;
}

#task_form {
    display: flex;
    flex-direction: column;
}




/* Login */

.auth_main {
    width: 100%;
    height: 100%;
    margin: 5px;
}

.auth_form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

.auth_title {
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

.auth_title h1 {
    font-size: 2em;
}

.form_field {
    border: 1px solid lightgray;
    padding: 8px 5px;
    font-size: 1em;
    border-radius: 5px;
    /* margin: 10px 0; */
}

.submit_button {
    background-color: #00d1b2;
    color: white;
    padding: 10px 10px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
}

.submit_button:hover {
    background-color: #00ccad;
    cursor: pointer;
}

.cancel_button {
    background-color: lightcoral;
    color: white;
    padding: 10px 10px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
}

.cancel_button:hover {

}

.auth_flash {
    margin-bottom: 5px;
}

.clear_button {
    background-color: #cce6ff;
    color: #0059b3;
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 10px;
}

.clear_button:hover {
    background-color: #b3daff;
    cursor: pointer;
}